<dl id="" class="wp-caption align{{include.align}}" style="max-width: {{include.width}}px">

<dt><a href="{{ include.href }}"><img class="" src="{{ include.url }}" alt="{{ include.caption }}" /></a></dt>

<dd>{{ include.caption }}</dd>
</dl>
<div class="myresume">
  <!-- 工作、实习经历 -->
  <div class="resume-item" id="resume-history">
      <div class="item-primary">
          <h3 class="title">工作经历</h3>
          <ul class="history-project">
              <li id="row-c3ae8a272db3aa121nB72N6-EFM-" ka="user-resume-edit-workexp1">
                  <div class="item-form-list">
                      <div class="item-name">
                          <h4 class="name"><b>尚通（北京）科技发展有限公司</b></h4>
                          <span class="period">2017.07-至今</span>
                      </div>
                      <h4>开发部</h4>
                      <div class="text item-work">
                          <span class="text-type">内容：</span><br/>
                          1.明医智App参与并主导了业务分析，数据库表设计，分配并指导项目组其他成员进行后台开发，主体业务逻辑编码，前端页面的设计以及复杂页面逻辑的编写，对接网易云信，七牛云，并同客户沟通业务，讲解使用操作，后期的项目整体交付<br/>2.  物联卡流量赢利管理平台（MIFI项目）<br/>参与项目初期立项，业务需求的搜集与对接，整理项目需求，完成项目功能模块开发，并给予同事业务与技术指导<br/>3. 物联卡管理平台<br/>参与项目项目初期业务收集，表关系建立关联业务需求，服务器搭建与部署，项目后期的交付与调优
                      </div>
                      <div class="text">
                          <span class="text-type">业绩：</span><br/>
                          1. 在交付日期内按客户要求满足用户需求，完成业务逻辑设计，后台接口开发，对接，并完成测试验收，最终达到完美上线<br/>2. 在项目团队开发过程中复杂业务逻辑以及前端插件修改或逻辑功能实现都积极主动地负起责任，发挥着项目先导者的作用
                      </div>
                  </div>
              </li>

              <br><hr><br>

              <li id="row-51a7b471a9c1e53e1nN509W6Fg--" ka="user-resume-edit-workexp2">
                  <div class="item-form-list">
                      <div class="item-name">
                          <h4 class="name"><b>亚信科技（中国）有限公司</b></h4>
                          <span class="period">2014.10-2017.06</span>
                      </div>
                      <h4>CUC支撑二部</h4>
                      <div class="text item-work">
                          <span class="text-type">内容：</span><br/>
                          1. 参与车联网项目组需求分析，逻辑编码，项目后期维护<br/>2. 运维项目组负责联通CBSS业务支撑系统的需求新增上线部署<br/>3. 参与山东线上线下一体化平台资源中心业务模块开发<br/>4. 参与掌握营销抢单系统业务需求分析后期运维支持
                      </div>
                      <div class="text">
                          <span class="text-type">业绩：</span><br/>
                          1.开发过程中按规定完成了相应的工作任务，没有出现重大纰漏，并且能够较好的解决工作中遇到的业务难点<br/>2. 运维项目组能够积极解决组长收集各省新增需求与问题进行及时修改与部署<br/>3. 个人解决问题的能力得到了显著地提升
                      </div>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</div>
