<div class="myresume">
  <!-- 工作、实习经历 -->
  <div class="resume-item" id="resume-history">
      <div class="item-primary">
        <ul class="history-project">
              <li id="row-0feb4418e30dd56b03V52NW6Eg--" ka="user-resume-edit-project1">
                  <div class="item-name">
                      <h4 class="name"><b>环语课堂</b></h4>
                      <span class="period">2018.11-至今</span>
                  </div>
                  <h4>项目组长</h4>
                  <div class="text item-work">
                    软件架构：spring boot、mybatis 、dubbo 、redis 、 mysql 、 hbase 、rabbitmq、es、swagger(接口文档)+网易云信<br><br>
                    环语课堂是专注于外语教学的在线教育平台，可线上申请讲师，通过一对一，一对五等在线视频教育模式与已购课程学生进行互动与交流<br><br>
                    技术描述： <br>
                    1、分布式rpc服务dubbo, 服务分为 学生管理、视频管理、课程管理(1对1课程、1对5课程)、系统服务、财务管理、运营管理，各模块通过dubbo服务进行调用<br>
                    2、使用网易云信进行手机端的音视频通话<br>
                    3、mysql只会存储一个月内的数据, 定时写入到hbase中<br>
                    4、redis 进行生成版本号以及基础信息存储<br>
                    5、使用swagger进行移动端提供接口调试<br>
                    6、rabbitmq进行构建客户端消息推送配置<br>
                    7、ES聚合搜索课程信息，学生信息，会员等
                  </div>
                  <div class="text">
                      <span class="text-type">业绩：</span>
                      初期参与项目需求立项研讨，需求分析，数据库设计，承担项目主体开发改造与交付对接工作
                  </div>
                  <div class="text">
                      <span class="text-type">项目链接：</span>
                      <a href="https://www.globallanguageclass.com//">主页预览</a><br><br>
                  </div>
              </li>
              <li id="row-0feb4418e30dd56b03V52NW6Eg--" ka="user-resume-edit-project1">
                  <div class="item-name">
                      <h4 class="name"><b>明医智App</b></h4>
                      <span class="period">2018.05-2019.01</span>
                  </div>
                  <h4>组长</h4>
                  <div class="text item-work">
                      软件架构：Spring、SpringMVC、MyBatis、Quartz、Shiro、OSS、网易云信、七牛云、友盟推送<br><br>
                      明医智app是全国眼科医生交流与学习的信息共享品台，已认证平台医生用户可以进行分享和学习中提升专业诊疗技能，并有更多的与眼科同道交流的机会，其中包括端对端视频语音通话，直播模块医生端发起直播，手机端用户可以进行观看与互动，医生发布音视频产品，并可以远程咨询（视频），两端医生进行实时病例方案探讨，包含了打赏点赞评论以及音视频录入审核等一系列的后台支持<br><br>
                      技术描述： <br>
                      1、使用七牛云进行网络直播接口<br>
                      2、使用网易云信进行手机端的音视频通话<br>
                      3、使用Quartz进行定时加载友盟手机端的消息推送，定时统计用户足迹积分的规则计算，用户订单定时更新<br>
                      4、使用Activiti进行用户注册以及用户上传音视频等信息审核<br>
                      5、使用POI完成用财务相关统计报表下载<br>
                      6、前端使用DataTable进行列表展示Echar图形化展示<br>
                      7、使用Token进行控制用户单点登录以及扫码登录
                  </div>
                  <div class="text">
                      <span class="text-type">业绩：</span><br>
                      1. 参与并主导了业务分析，数据库表设计<br>
                      2. 分配指导项目组其他成员进行后台开发，主体业务逻辑编码<br>
                      3. 前端页面的设计以及复杂页面逻辑的编写<br>
                      4. 对接网易云信，七牛云<br>
                      5. 同客户沟通业务，讲解使用操作，后期的项目整体交付
                  </div>
                  <div class="text">
                      <span class="text-type">项目链接：</span>
                      <a href="http://www.mingyizhi.cn">主页预览</a>
                      <a href="http://www.mingyizhi.cn/mingyizhi/index.do">后台预览</a>
                      <a href="https://itunes.apple.com/cn/app/%E6%98%8E%E5%8C%BB%E6%99%BA/id1397688769?mt=8&ign-mpt=uo%3D4">明医智APP下载</a><br><br>
                  </div>
              </li>

              <li id="row-670c87ad67da92651XV_3dm6" ka="user-resume-edit-project7">
                  <div class="item-name">
                      <h4 class="name"><b>商村分销</b></h4>
                      <span class="period">2015.11-2016.06</span>
                  </div>
                  <h4>开发人员</h4>
                  <div class="text item-work">
                      软件架构 : Spring、SpringMVC、easyui、POI、Quartz、Maven、shiro<br><br>
                      项目描述： 主要针对客户对于区域性的平台推广,平台用户为供应商，零售商，分销商，客户，平台进行角色审核，各个角色进行管理，平台样式管理，产品区域模块管理，供应商，零售商进行下级权限的审核与管理，零售商进行商品上下架，店铺日常维护，订单等一系列管理，分销商在微信品台上进行产品分销以及计算业务，实现业务多元化，平台多元化，为各个用户提供较为良好的服务<br><br>
                      技术描述： <br>
                      1、采用Spring与SpringMVC作为底层架构<br>
                      2、使用quartz进行任务调度，配合存储过程进行数据统计入表<br>
                      3、使用easyUI按权限显示导航菜单<br>
                      4、页面中使用 javaScript, Ajax 及 jQuery插件以给用户更好的使用体验<br>
                      5、使用	POI完成了商户数据的上传和下载<br>
                      6、使用shiro作为权限框架,对不同角色赋予不同的访问权限<br>
                      7、使用redis集群进行数据缓存<br>
                      8、对请求头进行url美化，使访问更加安全
                  </div>
                  <div class="text">
                      <span class="text-type">业绩：</span>
                      商村分销项目主要是对于合同方所提bug进行修改，新添需求进行编码，并对项目整体进行维护试工作。
                  </div>
                  <div class="text">
                      <span class="text-type">项目链接：</span>
                      <a href="http://www.shangcunfenxiao.com/">主页链接</a><br><br>
                  </div>
              </li>

              <li id="row-670c87ad67da92651XV_3dm6" ka="user-resume-edit-project7">
                  <div class="item-name">
                      <h4 class="name"><b>颜语APP</b></h4>
                      <span class="period">2018.08-2018.10</span>
                  </div>
                  <h4>开发人员</h4>
                  <div class="text item-work">
                      软件架构 : Spring、SpringMVC、easyui、POI、Quartz、Maven、shiro<br><br>
                      项目描述： 颜语APP作为在线直播平台，通过与各自媒体主播签约的模式，各主播通过本平台进行直播，注册观众可进行线上买礼物并打赏主播以及观看付费类节目，平台通过一定比例与主播进行分润<br><br>
                  </div>
                  <div class="text">
                      <span class="text-type">业绩：</span>
                      独立负责业务整体开发，并负责对接移动端接口，完成后期测试与交付。
                  </div>
                  <div class="text">
                      <span class="text-type">下载地址：</span>
                      <a href="http://www.shangcunfenxiao.com/">颜语APP下载</a><br><br>
                  </div>
              </li>

              <li id="row-5cea752a4d7bccb31HR72Ni7Eg--" ka="user-resume-edit-project2">
                  <div class="item-name">
                      <h4 class="name"><b>物联卡流量赢利管理平台（MIFI项目）</b></h4>
                      <span class="period">2017.12-至今</span>
                  </div>
                  <h4>项目开发需求整理指导新人</h4>
                  <div class="text item-work">
                      MIFI项目作为尚通同各物联网设备需求客户的纽带，向客户开放提供物联网卡设备，并支持相对应的设备支持，包括开卡、卡号的激活、卡设备的落地以及后续针对卡设备的管理维护相关操作，并结合与尚通合作的物联网卡设备用户以及设备流量的使用特点，推出了一系列惠及用户的流量套餐，从售前，售中，售后等方面最大范围内便利于物联网卡用户使用者的体验，并籍此与客户携手展开多种多样的的盈利模式
                  </div>
                  <div class="text">
                      <span class="text-type">业绩：</span>
                      参与项目初期立项，业务需求的搜集与对接，整理项目需求，完成项目功能模块开发，并给予同事业务与技术指导
                  </div>
                  <div class="text">
                      <span class="text-type">项目链接：</span>
                      <a href="http://zdm2m.com/">主页预览</a><br><br>
                  </div>
              </li>
              <li id="row-bca85af0fe60ae861HR72Ni6Fg--" ka="user-resume-edit-project3">
                  <div class="item-name">
                      <h4 class="name"><b>物联卡管理平台</b></h4>
                      <span class="period">2017.07-2017.11</span>
                  </div>
                  <h4>管理开发</h4>
                  <div class="text item-work">
                      物联网管理平台在最大限度上快捷处理同客户的线上交易，积极推动公司同全国各地区客户进行物联网技术的交流与合作，籍此将尚通所拥有的独立自主知识产权的物联网卡运营产品推广到全国各地区，让越来越多的中小企业了解物联网，并成规模的引入物联网平台，准确的开展物联网平台服务与物联网大数据服务与分析。
                  </div>
                  <div class="text">
                      <span class="text-type">业绩：</span>
                      参与项目项目初期业务收集，表关系建立关联业务需求，服务器搭建与部署，项目后期的交付与调优
                  </div>
                  <div class="text">
                      <span class="text-type">项目链接：</span>
                      <a href="http://code.zdm2m.com:8080/samton_tps/loginController.do?login">主页预览</a><br><br>
                  </div>
              </li>
              <li id="row-4014d0ffc58720891nB709m8FA--" ka="user-resume-edit-project4">
                  <div class="item-name">
                      <h4 class="name"><b>山东线上线下一体化平台</b></h4>
                      <span class="period">2016.04-2017.06</span>
                  </div>
                  <h4>Java开发</h4>
                  <div class="text item-work">
                      软件架构：Spring、SpringMVC、Hibernate、Mybaties、Redis、Quartz、POI、Shiro、Kafka、Gradle<br><br>
                      项目描述：该系统主要是用于服务山东各地市，有5个中心（商品中心、订单中心、支付中心、接口中心、资源中心），重点面向山东地市的营业厅，针对山东联通的流量卡相关业务的用户激活情况进行统计并对各区县的驻店网经理进行推单抢单的流程处理，期间对不同地市的需求进行个性化开发，如特殊查询，统计类报表，日志数据回滚操作<br><br>
                      技术描述： <br>
                      1、配置的方式映射数据库，使用hibernate进行基础的增删改查，使用mybatis进行复杂查询<br>
                      2、使用shiro进行权限控制<br>
                      3、使用inspinia 前端框架与easyUI完成页面布局，使用echarts进行展示图形报表<br>
                      4、使用POI完成了地市数据的上传和下载<br>
                      5、使用负载均衡软件nginx完成三台服务器的流量分配<br>
                      6、使用消息队列Kafka完成不同程序的消息的收发<br>
                      7、使用Redis的进行缓存<br>
                      8、使用gradle进行自动化构建与打包
                  </div>
                  <div class="text">
                      <span class="text-type">业绩：</span>
                      参与了资源中心的需求分析，完成终端管理模块的编写代码编写<br><br>
                  </div>
              </li>

              <li id="row-5664d7675175c13c1nN43ti4EQ--" ka="user-resume-edit-project5">
                  <div class="item-name">
                      <h4 class="name"><b>抢单系统</b></h4>
                      <span class="period">2017.02-2017.04</span>
                  </div>
                  <h4>Java开发</h4>
                    <div class="text item-work">
                        软件架构：Spring、SpringMVC、Hibernate、Mybaties、Redis、Quartz、POI、Shiro、rabbitmq、Maven<br><br>
                        项目描述：抢单系统是掌沃营销app中一项业务功能面对山东省各地市营业厅，针对山东联通的流量卡相关业务，对流量卡的激活情况进行统计，并针对未激活，未缴费未续费用户进行录入抢单系统，使各驻店网经理进行抢单的流程处理，并制定考核机制，期间对不同地市的需求进行个性化开发，如特殊查询，统计类报表相关，日志数据回滚等操作。<br><br>
                        技术描述： <br>
                        1、使用hibernate进行基础的增删改查，使用mybaties进行复杂查询<br>
                        2、使用shiro进行权限控制<br>
                        3、使用Html展示业务操作页面，后台使用jsp与easyUI完成页面布局 <br>
                        4、使用POI完成了报表数据的上传和下载<br>
                        5、使用负载均衡软件nginx完成多台服务器的流量分配<br>
                        6、使用rabbitmq完成不同程序的消息的收发<br>
                        7、使用Redis的进行缓存<br><br>
                    </div>
              </li>
              <li id="row-e0bc878c28960c081nB70960Fg--" ka="user-resume-edit-project6">
                  <div class="item-name">
                      <h4 class="name"><b>车联网项目</b></h4>
                      <span class="period">2015.10-2016.01</span>
                  </div>
                  <h4>Java开发</h4>
                  <div class="text item-work">
                      软件架构：Spring、SpringMvc、mybaties、redis、easyUI、stom、Kafka、Echarts、shiro、Quartz<br><br>
                      项目描述：车联网项目主要针对车载智能系统，采用sim绑定汽车的方式对用户提供定制化套餐与推送，如用户音乐 管理，消息收发，新闻推送等业务场景，实现车载智能突破。后台包括客户管理、产品管理、订单管理、报表管理、咨询资料管理几大模块<br><br>
                      技术描述：<br>
                      1、使用JQuery Datatable与easyUI进行表格展示<br>
                      2、使用pagehelper进行配置mybatis分页拦截器<br>
                      3、使用Echarts进行图形报表显示	<br>
                      4、权限控制：Shiro<br>
                      5、报表显示：FineReport<br>
                      6、任务调度：Quartz<br>
                  </div>
                  <div class="text">
                      <span class="text-type">业绩：</span>
                      主要负责项目产品管理相关操作前台产品展示和前后台表单数据的验证及部分单元编写与测试，报表导入导出<br><br>
                  </div>
              </li>

              <li id="row-b217e997946979ca1XV_3dm1" ka="user-resume-edit-project8">
                  <div class="item-name">
                      <h4 class="name"><b>CB固网营业App补拍查询功能</b></h4>
                      <span class="period">2015.06-2015.10</span>
                  </div>
                  <h4>开发人员</h4>
                  <div class="text item-work">
                      软件架构 : cBSS系统、webService、taxuedo、lcu流程控制、cpp、oracle<br><br>
                      项目描述：实名制APP客户端发送请求报文调用核心“APP补拍查询实时接口”，查询到用户的补拍信息组织成返回报文，传递给接口，同步到省份库。<br><br>
                      业绩：<br>
                      1、lcu流程的配置：<br>
                      2、模块功能的开发<br><br>
                  </div>
              </li>
              <li id="row-67093212acb1144c1XV_3dm0" ka="user-resume-edit-project9">
                  <div class="item-name">
                      <h4 class="name"><b>CB1.0系统功能改造与接口开发</b></h4>
                      <span class="period">2014.07-2015.10</span>
                  </div>
                  <h4>开发人员</h4>
                  <div class="text item-work">
                      项目描述：CB1.0系统是供联通业务人员为用户办理固话，移动电话，宽带等业务的核心系统。是一个比较成熟且庞大的系统，设计功能模块众多，业务复杂。<br><br>
                      业绩：<br>
                      1：融合新增松耦合产品：<br>
                         主要负责在融合各个功能（新装，变更等）菜单，中的各个功能按钮（新装，纳入，变更，拆分，拆机等）添加对新增的松耦合产品的业务控制，校验，及业务数据入库。<br>
                      2：河北新增智慧沃家黄金版融合关系：<br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主要负责：<br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A：权限及开关配置<br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B：根据新增融合关系的新的业务规则，在融合相关页面和各个相关功能按钮添加业务校验，流程控制，及数据正常落表<br>
                      3：北六系统业务各省份业务模块新增上线<br>
                         主要负责在基于北六系统的各省份月内业务新增业务进行编码以及更改业务sql数据，完成测试验收后并每周二，周四配合运维人员进行系统上线工作。
                  </div>
              </li>
          </ul>
      </div>
  </div>
</div>
